#Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
release.properties

# Eclipse
.project
.classpath
.settings/
bin/

# IntelliJ
.idea
*.ipr
*.iml
*.iws

# NetBeans
nb-configuration.xml
nbactions.xml

# Visual Studio Code
.vscode
.factorypath

# OSX
.DS_Store

# Vim
*.swp
*.swo

# patch
*.orig
*.rej

# Local environment
.env

#JReleaser
out/

# 1BRC
/measurements*.txt
/*.out
out_expected.txt
/*-timing.json
my_stuff/1brc/measurements/measurements.txt
my_stuff/1brc/measurements/measurements_20k.txt
my_stuff/1brc/measurements/measurements_500k.txt
my_stuff/1brc/measurements/measurements_5m.txt
my_stuff/1brc/measurements/measurements_100m.txt
/my_stuff/1brc/obj
/my_stuff/CreateMeasurements/obj
